<!-- sidebar -->

<!-- <h2>Home</h2> -->
<ul>
  <li><a {% if page.url == '/' %}class="active"{% endif %} href="{{ site.baseurl }}/">简介</a></li>
  <li><a {% if page.url == '/runewizard/' %}class="active"{% endif %} href="{{ site.baseurl }}/runewizard/">资源下载</a></li>
  <li><a {% if page.url == '/wiki/itemswith' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/itemswith">帐号注册</a></li>
</ul>

<h2>游戏资料</h2>
<ul>
  <li><a {% if page.url == '/wiki/valkyrie' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/valkyrie">NPC</a></li>
  <li><a {% if page.url == '/wiki/experience' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/experience">怪物</a></li>
  <li><a {% if page.url == '/wiki/super-uniques' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/super-uniques">装备</a></li>
  <li><a {% if page.url == '/wiki/valkyrie' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/valkyrie">物品</a></li>
  <li><a {% if page.url == '/wiki/experience' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/experience">地图</a></li>
  <li><a {% if page.url == '/wiki/super-uniques' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/super-uniques">武功</a></li>
  <li><a {% if page.url == '/wiki/experience' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/experience">技能</a></li>
  <li><a {% if page.url == '/wiki/super-uniques' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/super-uniques">门派</a></li>
</ul>

<h2>任务攻略</h2>
<ul>
  <li><a {% if page.url == '/wiki/weapon_1hs' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_1hs.html">帝王陵</a></li>
  <li><a {% if page.url == '/wiki/weapon_2hs' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_2hs.html">狐狸洞</a></li>
  <li><a {% if page.url == '/wiki/weapon_1ht' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_1ht.html">极乐洞</a></li>
  <li><a {% if page.url == '/wiki/weapon_2ht' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_2ht.html">太极剑门</a></li>
  <li><a {% if page.url == '/wiki/weapon_bow' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_bow.html">帝王石谷</a></li>
  <li><a {% if page.url == '/wiki/weapon_xbw' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_xbw.html">重返王陵</a></li>
  <li><a {% if page.url == '/wiki/weapon_bow' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_bow.html">神武奇章</a></li>
  <li><a {% if page.url == '/wiki/weapon_xbw' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_xbw.html">炎黄新章</a></li>
</ul>

<!-- /sidebar -->
