/* ==========================================================================
   Reset CSS
   Adapted from http://github.com/necolas/normalize.css
   ========================================================================== */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// 在IE6-9和FF3中显示
// -------------------------
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

// IE6-9和FF3中的显示块
// -------------------------
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

// 防止现代浏览器在没有控件的情况下显示“音频”
// -------------------------
audio:not([controls]) {
    display: none;
}

// 基本设定
// -------------------------
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// 悬停和活跃
a:hover,
a:active {
  outline: 0;
}

// 防止sub和sup影响所有浏览器中的行高
// -------------------------
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

// 块引用
// -------------------------
blockquote {
  margin: 0;
}

// 图像的边框和图像质量
// -------------------------
img {
  /* 自适应图像（确保图像不会超出其父级） */
  max-width: 100%; /* 第1部分：设置相对于父对象的最大值 */
  width: auto\9; /* IE7-8需要帮助调整响应图像 */
  height: auto; /* 第2部分：根据宽度缩放高度，否则会拉伸 */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

// 表格宽度
// -------------------------
table {
  width: 100%;
}

// 防止最大宽度影响Google Maps
#map_canvas img,
.google-maps img {
  max-width: none;
}

// 形式
// -------------------------
// 所有浏览器中的字体大小，边距变化，杂项一致性

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer; // 提高图像类型“输入”与其他类型之间的游标样式的可用性和一致性。
}
input[type="search"] { // 在Safari / Chrome中的外观
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; // Chrome OSX，Safari 5中的内部填充问题
}
textarea {
  overflow: auto; // 删除IE6-9中的垂直滚动条
  vertical-align: top; // 可读性和对齐跨浏览器
}