<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{{ if .IsHome }}{{ .Site.Title }} | {{ .Site.Params.Subtitle }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="keywords" content="{{ if .IsHome }}{{ .Site.Params.Keywords }}{{ else }}{{ .Keywords }}{{ end }}">
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else }}{{ .Description }}{{ end }}">
</head>
<body>
