<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<div id="wrap">
	  	
	  	<!-- Navigation -->
	  	{% include menu.html %}
    
    <!-- Icon menu -->
	  <a {% if site.reverse == true %}id="nav-menu-left"{% else %}id="nav-menu"{% endif %}>
	  	<div id="menu"></div>
	  </a>

      <!-- Header -->
      {% if site.custom_header == true %}
        {% include header-custom.html %}
      {% else %}
        {% include header.html %}
      {% endif %}

    <!-- Main content -->
	  <div id="container">
		  
		<main>

			{{ content }}

	  </main>
		
		  <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page == 1 %}
            <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">前一页</a>
          {% elsif paginator.previous_page%}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">前翻</a>
          {% else %}
            <span class="page-item">最新</span>
          {% endif %}
        
          <span class="page-item">第{{paginator.page}}页｜共{{paginator.total_pages}}页</span>
        
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">后翻</a>
          {% else %}
            <span class="page-item">没有了</span>
          {% endif %}
        </div>
      {% endif %}

	  </div>
	    
	    <!-- Footer -->
	    {% include footer.html %}

	    <!-- Script -->
      {% include script.html %}

	</div>
</body>
</html>
