<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
    {% include head.html %}
    
    <br>
    <center>
        <span class="main-header-image">
            <h1 style="font-weight:100; font-kerning:normal"><a href="/">{{ site.title }}</a></h1>
        </span>
    </center>

    <!-- 导航-->
    <br>
    {% include navigation.html %}
</head>

<!-- 主体 -->
<body id="post-index">
    {% include browser-upgrade.html %}

    <div id="main" role="main">
        <article class="hentry">

            <div class="featured-image">
            <img src="{{ page.featured-image}}" style="width:100%">
            </div>

            <!-- MAIN -->
            <h1 class="entry-title">
                <a>{{ page.title }}</a>
            </h1>
            <!-- 文章页面副标题 
            <h3 class="entry-subtitle">
                <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ page.subtitle }}</a>
            </h3>
            -->
            
            <hr>

            <!-- 发布内容 -->
            <div class="entry-content">
                {{ page.content }}
            </div>

            <!--- 分界线 -->
            <hr>

            <!-- 张贴标签 -->
            <div class="inline-tags">
                <span>
                    {% for tag in page.tags %}
                        <a href="/tags#{{tag}}"><span class="fa fa-tags"></span>&nbsp;{{ tag }}&nbsp;&nbsp;&nbsp;</a>
                    {% endfor %}
                </span>
            </div>

            <br>

            <!-- 文章右下角 -->
            <div class="post-date">
                
            </div>
        </article>
    </div>
</body>

<!-- 页脚 -->
<footer>
    <div class="footer-wrapper">
        <footer role="contentinfo">
            {% include footer.html %}
        </footer>
    </div>
</footer>
</html>
